<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inlocomedia.android"
    android:versionCode="20301"
    android:versionName="2.3.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.inlocomedia.android.InLocoMediaService"
            android:exported="false" />

        <activity
            android:name="com.inlocomedia.android.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.InLocoMedia.NoActionBar.Fullscreen" />
        <activity
            android:name="com.inlocomedia.android.InLocoMediaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.InLocoMedia.NoActionBar.Fullscreen" />

        <receiver
            android:name="com.inlocomedia.android.location.LocationReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.inlocomedia.android.ads.AdReceiver"
            android:exported="false" >
        </receiver>
    </application>

</manifest>